/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

 :root {
	--accent: #f180a1;
	--accent-dark: #f180a1;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'AfacadFlux'; /* The name you will use to reference the font in your CSS */
	src: url('/fonts/AfacadFlux-SemiBold.ttf') format('truetype'); /* Path to your TTF file */
	font-weight: normal; /* You can define 'bold' or other weights too */
	font-style: normal; /* Can be italic, oblique, etc. */
  }

  @font-face {
	font-family: 'AfacadFluxThin'; /* The name you will use to reference the font in your CSS */
	src: url('/fonts/AfacadFlux-Light.ttf') format('truetype'); /* Path to your TTF file */
	font-weight: normal; /* You can define 'bold' or other weights too */
	font-style: normal; /* Can be italic, oblique, etc. */
  }

  @font-face {
	font-family: 'AfacadFluxBold'; /* The name you will use to reference the font in your CSS */
	src: url('/fonts/AfacadFlux-Bold.ttf') format('truetype'); /* Path to your TTF file */
	font-weight: normal; /* You can define 'bold' or other weights too */
	font-style: normal; /* Can be italic, oblique, etc. */
  }

/* Body - Apply thin text fonts */
body {
	font-family: 'AfacadFluxThin', serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: #ffcfddff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
}

/* Main text content */
main {
	max-width: 85%;
	margin: auto;
	background: #ffcfddff;
	font-family: 'AfacadFluxThin', serif;
	text-align: center;
}

/* Headings - Rotate between the desired heading fonts */
h1, h2, h3, h4, h5, h6 {
	font-family: 'AfacadFlux', sans-serif;
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
	color: #484647;
}

/* Headings specific font families */
h1 {
	font-size: 80px;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

/* Bold text styling */
strong,
b {
	font-weight: 700;
	font-family: 'AfacadFlux', sans-serif;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
	text-align: justify;
	margin: 0 auto;
	width: 90%;
}
.prose p {
	margin-bottom: 2em;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.divider {
	height: 5px;
	width: 90%;
	background-color: #f180a1;
	border-radius: 8px;
	margin: 0 auto 10px;
	opacity: 0.2;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #f180a1; /* Button color */
    color: white;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
    transition: background-color 0.3s ease;
  }

  .contact-button:hover {
    background-color: #ff3366; /* Darker color on hover */
	color: white;
  }

  .social-icon {
    display: inline-flex;               /* Use inline-flex to center align the icon */
    justify-content: center;            /* Center the SVG icon */
    align-items: center;                /* Center the SVG icon vertically */                   /* Adjust the height of the round background */
    background-color: rgba(255, 255, 255, 0.7); /* Light background color */
    border-radius: 50%;                /* Make the background round */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow */
    transition: background-color 0.3s; /* Optional: Smooth transition effect */
}

.social-icon:hover {
    background-color: rgba(255, 255, 255, 1); /* Change background color on hover */
}

.circular-image {
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Cover to maintain aspect ratio */
	display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto; /* Center the image */
}

  /* customizable snowflake styling */
  .snowflake {
	color: #fff;
	font-size: 1em;
	font-family: Arial, sans-serif;
	text-shadow: 0 0 5px #000;
  }
   
  .snowflake,.snowflake .inner{animation-iteration-count:infinite;animation-play-state:running}
  @keyframes snowflakes-fall{0%{transform:translateY(0)}100%{transform:translateY(110vh)}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;user-select:none;cursor:default;animation-name:snowflakes-shake;animation-duration:3s;animation-timing-function:ease-in-out}.snowflake .inner{animation-duration:10s;animation-name:snowflakes-fall;animation-timing-function:linear}.snowflake:nth-of-type(0){left:1%;animation-delay:0s}.snowflake:nth-of-type(0) .inner{animation-delay:0s}.snowflake:first-of-type{left:10%;animation-delay:1s}.snowflake:first-of-type .inner,.snowflake:nth-of-type(8) .inner{animation-delay:1s}.snowflake:nth-of-type(2){left:20%;animation-delay:.5s}.snowflake:nth-of-type(2) .inner,.snowflake:nth-of-type(6) .inner{animation-delay:6s}.snowflake:nth-of-type(3){left:30%;animation-delay:2s}.snowflake:nth-of-type(11) .inner,.snowflake:nth-of-type(3) .inner{animation-delay:4s}.snowflake:nth-of-type(4){left:40%;animation-delay:2s}.snowflake:nth-of-type(10) .inner,.snowflake:nth-of-type(4) .inner{animation-delay:2s}.snowflake:nth-of-type(5){left:50%;animation-delay:3s}.snowflake:nth-of-type(5) .inner{animation-delay:8s}.snowflake:nth-of-type(6){left:60%;animation-delay:2s}.snowflake:nth-of-type(7){left:70%;animation-delay:1s}.snowflake:nth-of-type(7) .inner{animation-delay:2.5s}.snowflake:nth-of-type(8){left:80%;animation-delay:0s}.snowflake:nth-of-type(9){left:90%;animation-delay:1.5s}.snowflake:nth-of-type(9) .inner{animation-delay:3s}.snowflake:nth-of-type(10){left:25%;animation-delay:0s}.snowflake:nth-of-type(11){left:65%;animation-delay:2.5s}
