---
import Body from '../../components/Body.astro';
---

<!DOCTYPE html>
<Body>
    <main class="px-4 md:px-8 lg:px-16 py-8 max-w-6xl mx-auto">
        <!-- Title and description -->
        <section class="mb-8 text-center">
            <h1 class="text-3xl md:text-4xl font-bold text-gray-800 mb-4">Documents</h1>
            <p class="text-sm md:text-base text-gray-600">
                All documents that regulate the association's activities can be found here.
                If you have any questions or if something is missing, please don't hesitate to reach out to us at 
                <a href="mailto:d-chipstyrelse@dsek.se" class="text-[#f180a1] underline">d-chipstyrelse@dsek.se</a>.
            </p>
        </section>

        <!-- Current Year Documents Section -->
        <section class="mb-12">
            <h2 class="text-2xl md:text-3xl font-semibold text-gray-800 text-center mb-6">This Year's Documents</h2>
            <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
                <li class="bg-pink-100 rounded-lg shadow p-6 text-center transition">
                    <h3 class="text-2xl font-semibold text-[#484647] mb-4">VTM Meeting Documents</h3>
                    <a href="path_to_pdf.pdf" class="contact-button">Show Documents</a>
                </li>
                <li class="bg-pink-100 rounded-lg shadow p-6 text-center transition">
                    <h3 class="text-2xl font-semibold text-[#484647] mb-4">HTM Meeting Documents</h3>
                    <a href="path_to_pdf.pdf" class="contact-button">Show Documents</a>
                </li>
                <li class="bg-pink-100 rounded-lg shadow p-6 text-center transition">
                    <h3 class="text-2xl font-semibold text-[#484647] mb-4">Board Meeting Documents</h3>
                    <a href="path_to_pdf.pdf" class="contact-button">Show Documents</a>
                </li>
            </ul>
        </section>

        <!-- Official Documents Section -->
        <section class="mb-12">
            <h2 class="text-2xl md:text-3xl font-semibold text-gray-800 text-center mb-6">Policy Documents</h2>
            <ul class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                <li class="bg-pink-100 rounded-lg shadow p-6 text-center transition">
                    <h3 class="text-2xl font-semibold text-[#484647] mb-4">Bylaws</h3>
                    <a href="https://drive.google.com/file/d/11tJSk8ubLLO6BXNPq6Y439elo_ZJpCT4/view?usp=sharing" 
                       class="contact-button">Show PDF</a>
                </li>
                <li class="bg-pink-100 rounded-lg shadow p-6 text-center transition">
                    <h3 class="text-2xl font-semibold text-[#484647] mb-4">Regulations</h3>
                    <a href="path_to_pdf.pdf" class="contact-button">Show PDF</a>
                </li>
            </ul>
        </section>

        <!-- Archive Section -->
        <section>
            <h2 class="text-2xl md:text-3xl font-semibold text-gray-800 text-center mb-6">Archive</h2>
            <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6">
                <li class="bg-pink-100 rounded-lg shadow p-6 text-center transition">
                    <h3 class="text-2xl font-semibold text-[#484647] mb-4">Board Meetings</h3>
                    <a href="path_to_pdf.pdf" class="contact-button">Show Documents</a>
                </li>
                <li class="bg-pink-100 rounded-lg shadow p-6 text-center transition">
                    <h3 class="text-2xl font-semibold text-[#484647] mb-4">Meeting Documents</h3>
                    <a href="path_to_pdf.pdf" class="contact-button">Show Documents</a>
                </li>
                <li class="bg-pink-100 rounded-lg shadow p-6 text-center transition">
                    <h3 class="text-2xl font-semibold text-[#484647] mb-4">Economy</h3>
                    <a href="path_to_pdf.pdf" class="contact-button">Show Document</a>
                </li>
                <li class="bg-pink-100 rounded-lg shadow p-6 text-center transition">
                    <h3 class="text-2xl font-semibold text-[#484647] mb-4">Activity Report</h3>
                    <a href="path_to_pdf.pdf" class="contact-button">Show Document</a>
                </li>
            </ul>
        </section>
    </main>
</Body>
</html>
