---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import en from '../../locales/en.json';
import sv from '../../locales/sv.json';

// Extract the language from the first segment of the URL path
const pathParts = Astro.url.pathname.split('/');
const lang = pathParts[1] || 'sv'; // Default to 'en' if no language is specified

// Set the appropriate translations based on the language
const translations = lang === 'en' ? en : sv;

---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title="New student" description="Welcome to Lund!" />
</head>
<body>
    <Header />
    <main>
		<h1>Congratulations on your admission,</h1>
        <h3>and welcome to Sweden's best student city: Lund!</h3>
        <p>There is often a lot of questions you have as a new student. Below, we have tried to gather
            some good information and links. 

        </p>
        <div class="divider"></div>
        <h2>Introduction Weeks</h2>
        <p>The introduction weeks ("nollning") can be described as a 6-week introduction to student life and the university experience.
            It is an intense period filled with various events, providing you with friends and memories for life.
            You can participate as much or as little as you want. <br><br>

            On the D-guilds designated Introduction Weeks-page you can find a lot of useful information:
        </p>
        <a href={`https://www.dsek.se/en/nollning`} class="button">To the D-guild's website</a>
        <div class="divider"></div>
        <h2>Welcoming Lunch</h2>
		<p>The day before the start of the semester, D-Chip traditionally organizes a welcome lunch on campus,
            where you, as a newly admitted woman or non-binary person to Computer Engineering or Information & Communication Technology, are welcome.
            The lunch is a perfect opportunity to meet other newly admitted students as well as older students.
            More information about the welcome lunch will be released sometime in early August.
        </p>
        <div class="divider"></div>
        <h2>Mentorship Program</h2>
        <p>During the fall semester, D-Chip organizes a mentorship program where you, as a new student, have the opportunity to connect with older female and non-binary students studying the same as you.
            The program is intended to provide support for women and non-binary individuals in the D-guild at the start of their studies and aims to create a safe and welcoming environment. <br><br>
            
            The mentorship program is a great opportunity to get to know more women and non-binary individuals in the D-guild.
            In addition to being paired with a mentor, events and activities will also be organized where all participants in the program—both microchips and mentors—can gather and get to know each other. <br><br>
            
            Together with your mentor, you'll have the chance to talk about everything from student life and studies to life in Lund in general. The mentors are bound by confidentiality, meaning you can feel safe knowing that anything shared stays between you and your mentor. <br><br>
            
            Information on how to sign up for the mentorship program will be released sometime during the fall.
        </p>
    </main>
    <Footer />
</body>
</html>

<style>
    body {
        margin: 0;
        padding: 1em;
        color: #333;
        text-align: center;
    }

    main {
        max-width: 1200px;
        margin: auto;
        padding: 2em;
    }

	.big-image {
		display: block;              /* Ensure the image behaves as a block element */
    margin-left: auto;          /* Center the image horizontally */
    margin-right: auto;         /* Center the image horizontally */
    width: 50%;                 /* Adjust the width as needed */
    height: auto;               /* Maintain aspect ratio */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Optional shadow */
    border-radius: 50px;         /* Optional: round the corners */
}

    h1 {
        font-size: 3.5em;
        margin-bottom: 0em;
		padding-top: 0.5em;
        color: #4a4a4a;
    }

    h3 {
        margin-bottom: 20px;
    }

    p {
        width: 80%;
        text-align: justify;
        margin: 0 auto;
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1em;
        background-color: #f180a1; /* Button color */
        color: white;
        border-radius: 8px;
        text-decoration: none;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
        transition: background-color 0.3s ease;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .button:hover {
        background-color: #f36a93; /* Darker color on hover */
    }

    .divider {
        height: 5px;
        width: 90%;
        background-color: #f180a1;
        border-radius: 8px;
        margin-top: 20px;
        margin-bottom: 20px;
        opacity: 0.2;
    }

	footer {
		margin-top: 2em;
	}
</style>

