---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

const imagePath = "../images/gallery/";
---

<!DOCTYPE html>
<html lang="sv">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
    <Header />
    <main>
        <!-- Gallery Section -->
        <section class="gallery-section">
            <h1>Galleri</h1>
            <p>Utforska våra senaste händelser och projekt genom bilder i galleriet.</p>
            <div class="gallery-grid">
                <div class="gallery-item">
                    <img src="../images/gallery/8.png" alt="Gallery Image 1" />
                </div>
                <div class="gallery-item">
                    <img src="../images/gallery/9.jpeg" alt="Gallery Image 1" />
                </div>
                <div class="gallery-item">
                    <img src="../images/gallery/10.jpeg" alt="Gallery Image 1" />
                </div>
                <div class="gallery-item">
                    <img src="../images/gallery/11.jpeg" alt="Gallery Image 1" />
                </div>
                <div class="gallery-item">
                    <img src="../images/gallery/13.jpeg" alt="Gallery Image 1" />
                </div>
                <div class="gallery-item">
                    <img src="../images/gallery/14.jpeg" alt="Gallery Image 1" />
                </div>
                <div class="gallery-item">
                    <img src="../images/gallery/15.jpeg" alt="Gallery Image 1" />
                </div>
                <div class="gallery-item">
                    <img src="../images/gallery/16.jpeg" alt="Gallery Image 1" />
                </div>
                <div class="gallery-item">
                    <img src="../images/gallery/17.jpeg" alt="Gallery Image 1" />
                </div>
                <div class="gallery-item">
                    <img src="../images/gallery/18.jpeg" alt="Gallery Image 1" />
                </div>
                <div class="gallery-item">
                    <img src="../images/gallery/19.jpeg" alt="Gallery Image 1" />
                </div>
                <div class="gallery-item">
                    <img src="../images/gallery/20.jpeg" alt="Gallery Image 1" />
                </div>
                <div class="gallery-item">
                    <img src="../images/gallery/21.jpeg" alt="Gallery Image 1" />
                </div>
                <div class="gallery-item">
                    <img src="../images/gallery/22.jpeg" alt="Gallery Image 1" />
                </div>
                <div class="gallery-item">
                    <img src="../images/gallery/23.jpeg" alt="Gallery Image 1" />
                </div>
                <div class="gallery-item">
                    <img src="../images/gallery/25.jpeg" alt="Gallery Image 1" />
                </div>
            </div>
        </section>
    </main>
    <Footer />
</body>
</html>

<style>
    main {
        padding: 2em;
        max-width: 1400px;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
        color: #484647;
    }

    p {
        text-align: center;
        margin-bottom: 2em;
        color: #484647;
    }

    .gallery-section {
        margin-bottom: 3em;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1em;
        justify-items: center;
    }

    .gallery-item {
        width: 100%;
        height: 200px;
        object-fit: cover;
        overflow: hidden;
    }

    .gallery-item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        display: block;
    }
</style>
