---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a class="text-[var(--black)]" href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		padding: 0.2em 0.2em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	a.active {
		text-decoration: none;
		font-weight: bolder;
		border-bottom-color: var(--accent);
	}
</style>
