---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
    <!-- SNOWFLAKES -->
    <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
      </div>
      <!-- SNOWFLAKES ENDS -->
</html>

